.Select-control{
    height: 48px;
}

.Select-placeholder{
    top:6px;
}

.d-flex{
    padding-right: calc(var(--bs-gutter-x)* 1);
    padding-left: calc(var(--bs-gutter-x)* 1);
}

#cabecalho.d-flex{
    padding-right: 0;
    padding-left: 0;
    background-color: rgb(217, 217, 217);
}

.container-fluid{
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;
}

